[CreateClassifier]
documents-file = /user/panagiotis/documents/documents.json
output-folder = ./data
categories = ["programming", "science", "business", "technology", "politics"]
test-size = 0.2
min-df-list = [3, 5, 10]
max-df-list = [0.5, 0.7, 0.9]
percentile-list = [10, 30, 50]
random-state = 1234


[hdfs]
client = hadoopcli
namenode-host = "localhost"
namenode-port = 9000
